---
layout: "layouts/layout.html"
title: "Spring/Summer 2026"
---

<h1>Spring/Summer 2026 Season</h1>
<h2 class="division">C4 Division</h2>

<div class="record"><span>Record:</span> {% seasonRecord springsummer2026 %}</div>

<section class="current-season">
	<div class="games">
		<div class="game-col">
			<h2>Upcoming Games</h2>
			{% if springsummer2026.upcomingGames.length > 0 %}
				{% for game in springsummer2026.upcomingGames %}
					{% game game %}
				{% endfor %}
			{% else %}
				<p><em>No Games Scheduled</em></p>
			{% endif %}
		</div>

		<div class="game-col">
			<h2>Past Games</h2>
			{% if springsummer2026.pastGames.length > 0 %}
				{% for game in springsummer2026.pastGames %}
					{% game game %}
				{% endfor %}
			{% else %}
				<p><em>No Game Played</em></p>
			{% endif %}
		</div>
	</div>
</section>
